<launch>

    <node pkg ="basics_exam"
        type="exam_action_server.py"
        name="record_odom_action_server_node"
        output="screen">
    </node>

    <node pkg ="basics_exam"
        type="exam_service_server.py"
        name="crash_direction_service_server"
        output="screen">
    </node>
    <node pkg ="basics_exam"
        type="main_program.py"
        name="main"
        output="screen">
    </node>
  


</launch>